fastapi==0.111.0
uvicorn[standard]==0.30.1
trimesh==4.4.9
numpy==1.26.4
python-multipart==0.0.9
pydantic==2.7.4
reportlab==4.2.2
matplotlib==3.9.0
manifold3d==3.0.4
mapbox_earcut==2.0.0
scipy==1.14.0
Pillow==10.3.0